
.MainContainer
{
    width: 82%;
    margin: 0 auto;
}

.MainContainer
{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.MainContainer header
{
position: absolute;
top:0

}

.MainContainer header #profile
{
    top: 0;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.MainContainer header #profile #profile__img img 
{
width: 100px;
height: 100px;

}
.MainContainer header .icon-sm i:nth-of-type(2)
{
align-items: center;
justify-content: center;
}

.MainContainer header .icon-sm i
{
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    bottom: 0;
}

.MainContainer header .icon-sm i:nth-of-type(1)
{
    display: none;
}

.MainContainer header .icon-sm
{
    position: relative;
    left: 20rem;
    margin-top: 2rem;
    width: 40px;
    height: 40px;
    border: 1px dotted black;
    border-radius: 50%;
    margin-bottom: 4rem;
    position: absolute;
    display: hidden;
    align-items: center;
    justify-content: center;
}

.MainContainer main .links
{
position: relative;
width: 1152px;
height: 76px;
bottom: 7rem;
margin-top: 20rem;
margin-bottom: 9rem;
transition: all 400ms ease;
}

    
.MainContainer main 
{
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}


.MainContainer main .links .link
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.MainContainer main .links .link li
{
display: flex;
border: 1px solid #EAECF0;
border-radius: 8px;
line-height: 2rem;
}


.MainContainer main .links .link li a .title
{
    text-align: center;
    font-size: 15px;
    color: black;
    font-weight: 500;
    
}


.MainContainer main .links .link li
{
background: #EAECF0;
width: 1100px;
padding: 1rem;
align-items: center;
justify-content: center ;
}


.MainContainer main .links .primary
{
    position: relative;
    bottom: 0;
    margin-top: 1rem;
    margin-bottom:8rem;
    padding: 6px;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.MainContainer .primary span a
{
    text-decoration: none;
}



/* ================= Smaller devices =============== */
@media screen and (max-width: 992px) {
  
    .MainContainer main
    {
        margin-bottom: 8rem;

    }
  
    .MainContainer header .icon-sm
    {
        position: absolute;
        margin-top: 2rem;
        width: 40px;
        height: 40px;
        border: 1px dotted black;
        border-radius: 50%;
        margin-bottom: 4rem;
        position: absolute;
        left: 170px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
  
    .MainContainer main .links
    {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 800px;
    bottom: 5rem;
    margin-top: 20rem;
    }
  
    .MainContainer main .links .link li
    {
    width: 500px;
    padding: 1.3rem;
    }

    .MainContainer main .links .primary span 
    {
        font-size: 1.5rem;
    }
  
    .MainContainer main .links .link li a .title
    {
        font-size: 15px;
        font-weight: 600;
    }
    
  }



/* ============ smaller devices =========== */
@media screen and (max-width: 640px) {


    .MainContainer main
    {
        margin-bottom: 2rem;
    }
  
    .MainContainer header .icon-sm
    {
        border: 1px solid dashed black;
    }
    .MainContainer header .icon-sm i
    {
       top: 0.4rem;
       bottom: 0; 
       left: 0.4rem;
    }
    .MainContainer header .icon-sm i:nth-of-type(1)
    {
        position: absolute;
        display: block;
        color: gray;
        font-size: 1.5rem;
       
    }

    .MainContainer header .icon-sm i:nth-of-type(2)
    {
        display: none;
    }

    .MainContainer header .icon-sm
    {
        position: absolute;
        align-items: center;
        justify-content: center;
    }
  
    .MainContainer main .links
    {
    position: relative;
    width: 300px;
    bottom: 5rem;
    margin-top: 20rem;
    }
  
    .MainContainer main .links .link li a
    {
        width: 300px;
        padding: 3px;
    }
  
    .MainContainer main .links .primary
    {
        margin-bottom: 1rem;
    }

    .MainContainer main .links .link li a .title
    {
        text-align: center;
        font-size: 17px;
        font-weight: 600;
    }
}